.TabelContainer-container {
  width: calc(67.3% - 2rem);
  height: calc(100%-2rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.header-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.TabelContainer-cancel {
  background-color: var(--mainColor2);
  color: var(--secondWhite);
}

.TabelContainer-scrollable {
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
}
.TabelContainer-tabel {
  table-layout: auto;
  border-radius: 0.4rem;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse;
  height: 100%;
  background-color: black;
}

.TabelContainer-tabel tr th,
.TabelContainer-tabel tr td {
  padding: 0.3rem 0.6rem;
  text-align: center;
  transition: all ease 0.3s;
}

.TabelContainer-tabel tr:nth-child(odd) {
  background-color: var(--secondWhite);
}
.TabelContainer-tabel tr:nth-child(even) {
  background-color: var(--mainWhite);
}

.TabelContainer-first-row {
  position: sticky;
  top: -1px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  transition: all ease 0.3s;
  font-size: 1.1rem;

  color: var(--mainWhite);
  position: sticky;
}
.TabelContainer-first-row th {
  background-color: var(--mainColor);
  cursor: pointer;
}
.TabelContainer-first-row th:hover {
  background-color: var(--mainColorLight);
}
.TabelContainer-row {
  height: 44px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.TabelContainer-buyAndSell {
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.2rem;
  margin: 0;
}
.TabelContainer-tabel tr:hover {
  background-color: var(--mainColor3);
  }

  tbody tr:hover{
    height: 50px;
    font-weight: 700;
  }
