.BuyAndSellContainer-container {



 
 height: 30%;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 4vh;
}

.BuyAndSellContainer-HeaderAndButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.BuyAndSellContainer-form-buttons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.BuyButton {
  margin-right: 1rem;
  background-color: rgb(22, 156, 20);
}
.BuyButton:hover,.BuyButton:focus  {
  background-color: rgb(39, 206, 36);
}
.SellButton {
  margin-right: 1rem;
  background-color: rgb(192, 15, 15);
}
.SellButton:hover,.SellButton:focus   {
  background-color: rgb(232, 23, 23);
}
.BuyAndSellContainer-form-greenShadow{
  box-shadow: rgb(22, 156, 20) 5px 5px 20px;

}
.BuyAndSellContainer-form-redShadow{
  box-shadow: rgb(192, 15, 15) 5px 5px 20px;

}
.BuyAndSellContainer-HeaderAndButtons h2{
}

.BuyAndSellContainer-form {
  width: 80%;

  display: flex;
  padding: 2% 10%;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.4rem;
  background-color:rgba(45, 15, 237, 0.543);
}

.BuyAndSellContainer-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2vh;
  
}
.BuyAndSellContainer-form-input label{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
  letter-spacing: 0.4rem;
}
.BuyAndSellContainer-form-input input {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: 100%;
}
.BuyAndSellContainer-form-submitButton {
  width: 25%;
  font-size: 1.2rem;
  /* background-color: var(--mainColor1);
  font-size: 1.2rem; */
  

}
