.dropDown-container {
  display: flex;
  border: var(--mainBlack) 1px solid;
  border-radius: 0.2rem;
  align-self: start;
  transition: all 1s;
}
.dropDown-network-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(161, 161, 161);
  padding: 0rem 0rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  background-color: var(--highlight1);
  border-bottom: var(--mainBlack) 1px solid;
  cursor: pointer;
  
 
  
}

.dropDown-network-text:hover{
  background-color: var(--highlight2);
}
.dropDown-container h3 {
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s ease;

 
  margin:  auto 1rem;
  
}
.select-dropdown {
  background-color: var(--secondWhite);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  display: flex;
  
  transition: all 1s;
  transition: all 0.5s ease;
  width: 100%;
  

}
.dropDown-network,
.dropDown-currency {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  transition: all 0.5s ease;
  

}
.dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  transition: all 0.5s ease;
  z-index: 10;
  width: 100%;
  justify-content: center;
  
}

.dropdown li {
  cursor: pointer;
  padding: 0.2rem 2rem;
  display: flex;
  justify-content: center;
  width: 100%-2rem;
}

.dropdown-active{
  
  font-weight: 600;
}