.TopBar-container{
  background:linear-gradient(var(--mainColor4) , rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 20rem;
  
  
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding-top: 0.5rem;
}
.TopBar-dropdowns{
  display: flex;
  width: 40%;
  justify-content: flex-end;
  margin-right: 4vh;
  gap: 4vh;
}

.TopBar-stats h4{
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.title-part1{
  font-weight: 100;
}
.title-part2{
  font-weight: 1000;
  text-transform: uppercase;
}