.layout-container{

height: 100vh;
width: 100vw;
}
.connectButton{
  background-color: var(--highlight1);
}
.connectButton:hover,.connectButton:focus, .connectButton:active {
  background-color: var(--highlight1);
}
.connectText{
  height: 100vh;
 
}