.TabelContainer-container {
  width: 60%;
  height: calc(100%-2rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}
.TabelContainer-scrollable {
  width: 100%;

  overflow-y: scroll;
  background-color: var(--muteColor2);
  border-radius: 0.4rem;
}
.TabelContainer-tabel {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;

  text-align: left;
  position: relative;
  border-collapse: collapse;
}

.TabelContainer-tabel tr th,
.TabelContainer-tabel tr td {
  border-bottom: 1px solid var(--grayColor);
  padding: 0.5rem;
  text-align: center;
}
.TabelContainer-tabel  tr:nth-child(even) td{
  background-color: var(--muteColor4);
}

.TabelContainer-first-row {
  position: sticky;
  top: -1px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: var(--mainColor1);
  font-size: 1.1rem;
}

.TabelContainer-tabel tr td {
  background-color: var(--muteColor2);
}
.TabelContainer-row {
}
.TabelContainer-cell {
}
