.TabelContainer-container{
  width: 60%;
  height: 100%;
  background-color: rgb(92, 92, 92);

}
.TabelContainer-tabel{
  table-layout: auto;
  width: 100%;  
  border-collapse: collapse;
  border: 1px solid rgb(155, 155, 155);

}
.TabelContainer-tabel tr th,.TabelContainer-tabel tr td {
  border: 1px solid rgb(0, 0, 0);
}
.TabelContainer-first-row, .TabelContainer-row{
 


}
.TabelContainer-tabel tr th{
 
  


}

.TabelContainer-row{

}
.TabelContainer-cell{
  
}