html, body, .App {
  margin: 0%;
  padding: 0;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.centerInDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.noMarginNoPadding{
  margin: 0;
  padding: 0;
}

:root{
  --mainColor: rgb(28, 202, 255);
  --secondColor:  rgb(153, 14, 14);
  --mainBackground: rgb(38, 37, 39) ;
  --secondBackground: rgb(26, 21, 54) ;
}
h1, h2, h3, h4, h5{
  margin: 0;
}