.BuyAndSellContainer-container {
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
  width: 30%;
  position: sticky;
  top: 8rem;
}

.BuyAndSellContainer-HeaderAndButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.BuyAndSellContainer-HeaderAndButtons h5 {
  margin-right: 1rem;
}

.button-23-red{
  background-color: var(--backgroundRed);
}
.button-23-green{
  background-color: var(--backgroundGreen);
  
}
.BuyAndSellContainer-form-buttons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.BuyAndSellContainer-form {
  width: 80%;
background-color: var(--mainWhite);
  display: flex;
  padding: 2% 10%;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.4rem;
}

.BuyAndSellContainer-form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1vh;
}
.BuyAndSellContainer-form-input label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  letter-spacing: 0.2rem;
}
.BuyAndSellContainer-form-input input {
  display: flex;
  flex-direction: row;
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: 80%;
}
.BuyAndSellContainer-form-submitButton {
  width: auto;
  font-size: 1.1rem;
  margin: auto;
  margin-top: 1rem;
}
