.BuyAndSellContainer-container {
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
  width: 100%;
 
  
  

}


.BuyAndSellContainer-HeaderAndButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.BuyAndSellContainer-HeaderAndButtons h5 {
  margin-right: 1rem;
}

.BuyAndSellContainer-text-left input{
  margin-right: 1rem;
}
.button-23-red{
  background-color: var(--backgroundRed);
}
.button-23-green{
  background-color: var(--backgroundGreen);
  
}
.BuyAndSellContainer-form-buttons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.BuyAndSellContainer-form {
  width: 80%;
background-color: var( --secondWhite);
  display: flex;
  padding: 6% 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}
.BuyAndSellContainer-main{
  display: flex;
 
  
 
}
.BuyAndSellContainer-main p{
  
  margin:0;
}
.BuyAndSellContainer-text{
  width: 40%;
  margin-right: 1rem;
  
}
.BuyAndSellContainer-input{
  width: 50%;
  display: flex;
 
  flex-direction: column;
  margin-right: 1rem;
 
}
.BuyAndSellContainer-input input{
  
  width: 100%;
  display: flex;
  margin-top: -2px;
  font-size: 0.8rem;
  padding: 0.2rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--mainColor);
  border-radius: 0.2rem;
  text-align: center;
  outline: transparent;
  width: 100%;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
 

  
}

.BuyAndSellContainer-input input, .BuyAndSellContainer-text p, .BuyAndSellContainer-currency p{
  margin-bottom: 1rem;
}
.BuyAndSellContainer-currency{
  width: 10%;
}

.BuyAndSellContainer-form-submitButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.2rem 0.6rem;
  font-size: 1.1rem;
}
.BuyAndSellContainer-form-submitButton h3{
  margin-top: -2px;
  color: black;
  margin-right:8px;
}