.MainContainer-container{

  width: calc(100%-2rem);
  height: 88vh;
  
  overflow: hidden;
  padding: 4vh;
  padding-top: 8vh;
  display: flex;
  gap: 4vh;
}

.MainContainer-side{
  width: 40%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
 

 


}