@import url(https://fonts.googleapis.com/css?family=Inter);
html,
body,
.App {
  margin: 0%;
  padding: 0;
  color: var(--mainBlack);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(240, 239, 233);

  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.centerInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.noMarginNoPadding {
  margin: 0;
  padding: 0;
}

:root {
  --mainBlack: #37352f;
  --mainWhite:  #fff;
  --secondWhite:  #ececec;
  --backgroundGreen: #bfe9bf ;
  --backgroundRed: #eecfc9;
  --highlight1: #EF8354;
  --mainColor: #4F5D75;
  --mainColorLight: #627493;
  --mainColor2: #768bae;
  --mainColor3: #BFC0C0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h5 {
  font-weight: 300;
  font-size: 1rem;
}
h1,
h2,
h3,
label {
  font-family: "Inter";
}
h1 {
  font-weight: 100;
  margin-left: 2rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.standardShadow {
  box-shadow: #00000059 5px 5px 20px;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--mainBlack);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 0.2rem 1rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* CSS */
.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: var(--mainBlack);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
 
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: var(--mainBlack);
  cursor: not-allowed;
  opacity: 1;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 12px;
  margin-left: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;

 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(177, 177, 177);
  border-radius: 0.2rem;
}


.TabelContainer-row-type{
  font-weight: 500;
  font-size: 1.1rem;
}
.header-info-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}