.MainContainer-container {
  
  padding: 2rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  height: auto;
  margin-top: 7rem;
  
}
.MainContainer-sidebar{
  position: fixed;
  left: 0;
  top: 6rem;
  padding: 3rem 2rem;
  width: 30%;
  height: 100%;
  background-color: var(--thirdWhite);
  border-right: 1px solid var(--mainBlack);
  
}
.connectButton {
  background-color: var( --highlight1);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin: 2rem;
}

.connectButton:hover {
  background-color: var( --highlight1);
}
.connectText {
  display: flex;
  flex-direction: column;
}
.connectText h2 {
  font-size: 6rem;
}
.connectText h3 {
  font-size: 2rem;
}
.connectText p {
  font-size: 1rem;
  margin: 0;
}
