.MainContainer-container{

  width: calc(100%-2rem);
  height: 88vh;
  
  overflow: hidden;
  padding: 4vh;
  padding-top: 8vh;
  display: flex;
  gap: 4vh;
 
}

.MainContainer-side{
  width: 40%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
 

 


}
.connectButton{
  background-color: var(--mainColor2);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin: 2rem;
}

.connectButton:hover{
  background-color: var(--mainColor3);
}
.connectText{
  display: flex;
  flex-direction: column;
}
.connectText h2{
font-size: 6rem;
}
.connectText h3{
  font-size: 2rem;

  }
  .connectText p{
    font-size: 1rem;
    margin: 0;
  
    }