.MainContainer-container {
  
  padding: 2rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
 
  
}

.connectButton {
  background-color: var( --highlight1);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin: 2rem;
}

.connectButton:hover {
  background-color: var( --highlight1);
}
.connectText {
  display: flex;
  flex-direction: column;
}
.connectText h2 {
  font-size: 6rem;
}
.connectText h3 {
  font-size: 2rem;
}
.connectText p {
  font-size: 1rem;
  margin: 0;
}
